:root {
    --msg-received-color: #e981be;
    --msg-sent-color: #81e77d;

    --default-text-color: #8ad4d6;
    --default-bg-color: #232323;

    --status-accepted-color: #81e77d;
    --status-offered-color: #d3b153;

    --alert-text-color: #fff;
    --alert-error-color: #d33333;
}

body {
    background-color: #232323;
    color: var(--default-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid var(--default-text-color);
    border-radius: 10px;
}

input,
textarea,
select,
button {
    background-color: var(--default-bg-color);
    border: 1px solid var(--default-text-color);
    border-radius: 4px;
    color: var(--default-text-color);
    padding: 5px 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
    height: 120px;
}

button:hover {
    cursor: pointer;
    color: #232323;
    background-color: var(--default-text-color);
}

button:active {
    cursor: pointer;
    color: #232323;
    background-color: #509c9e;
}

.hidden {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.column * {
    margin-bottom: 10px;
}

.spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.autoscroll {
    max-height: 620px;
    overflow-y: auto;
}

.message:not(:last-child) {
    border-bottom: 1px dashed var(--default-text-color);
}
.type-received.message:not(:last-child) {
    border-bottom-color: var(--msg-received-color);
}

.type-received {
    border-left: 6px solid var(--msg-received-color);
    border-right: 6px solid var(--msg-received-color);
    border-radius: 4px;
    padding: 0 10px;
}
.type-received h4 {
    color: var(--msg-received-color);
}
.type-received.message:not(:last-child) {
    border-bottom-color: var(--msg-received-color);
}

.type-sent {
    border-left: 6px solid var(--msg-sent-color);
    border-right: 6px solid var(--msg-sent-color);;
    border-radius: 4px;
    padding: 0 10px;
}
.type-sent h4 {
    color: var(--msg-sent-color);
}
.type-sent.message:not(:last-child) {
    border-bottom-color: var(--msg-sent-color);
}

.trade-offer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 0.5fr;
    column-gap: 10px;
    padding: 10px 5px;
}
.trade-offer:not(.header) {
    border-color: var(--default-text-color);
    border-left: 6px solid;
    border-right: 6px solid;
    border-radius: 4px;
    margin-top: 5px;
}
.trade-offer.accepted {
    color: var(--status-accepted-color);
    border-color: var(--status-accepted-color);
}

.trade-offer.offered {
    color: var(--status-offered-color);
    border-color: var(--status-offered-color);
}

.trade-offer:not(:last-child):not(.header) {
    border-bottom: 1px dashed;
}

.trade-offer.header {
    position: sticky;
    top: 0;
    background-color: var(--default-bg-color);
    font-weight: bold;
}

.close-btn {
    font: normal 1em/1 Arial, sans-serif;
    display: inline-block;
    justify-self: end;
    cursor: pointer;
}
    
.close-btn:before{ content: "\2716"; }


#client-id {
    text-align: right;
}

#potato-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.alert {
    border-radius: 4px;
    padding: 10px 20px;
    color: var(--alert-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert.error {
    background-color: var(--alert-error-color);
}
